html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	overflow: hidden;
	cursor: default !important;
	outline: none !important;
	user-select: none;
}

div {
	white-space: nowrap;
}

body {
	background: black;
	font-family: 'Righteous', Arial;
	font-size: 20px;
	text-align: center;
}

.game {
	position: relative;
	height: 500px;
	width: 500px;
	border-radius: 100%;
	background: #333;
	margin: 1em auto;
	box-shadow: 0 0 15px #555;
}

.game *:not(.interface):not(h1) {
	position: absolute;
}

.controls {
	height: 55%;
	width: 55%;
	top: 22.5%;
	left: 22.5%;
	background: #CCC;
	border: 18px solid #333;
	border-radius: 100%;
	z-index: 1;
}

h1 {
	font-size: 2.5em;
	margin: .65em 0 0 .1em;
}

.text-small {
	font-size: .6em;
	vertical-align: .3em;
}

.count {
	left: 4%;
	top: 40%;
	width: 2.3em;
	height: 1.4em;
	padding-left: .1em;
	background-color: #2B0000;
	border: 2px inset #200;
	border-radius: 10%;
	color: #C00;
	font-family: 'Press Start 2P', monospace;
	font-size: 1.75em;
	line-height: 1.52em;
	text-align: center;
}

.btn-ctrl {
	top: 43.75%;
	height: 12.5%;
	width: 12.5%;
	border: 3px solid #333;
	border-radius: 100%;
	box-shadow: inset 0 0 5px #555;
}

.btn-ctrl:hover {
	cursor: pointer !important;
}

#startBtn {
	background-color: red;
	left: 43.75%;
}

#startBtn:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
	background: firebrick;
}

#strictBtn {
	background: #FF0;
	right: 9.5%;
}

#strictBtn:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
	background: #DBC800;
}

.light-strict {
	right: 2.5%;
	top: 48%;
	height: 5%;
	width: 5%;
	background: #000;
	border: 1px solid #333;
	border-radius: 100%;
	box-shadow: outset 0 0 5px #555;
}

.label {
	top: 55%;
	left: 42%;
	font-family: 'Righteous', Arial;
	font-size: .95em;
	color: #333;
}

.switch-pwr-slot {
	left: 40%;
	bottom: 15%;
	width: 20%;
	height: 10%;
	background: #111;
	border-radius: 10%;
	color: #E00;
	padding-left: 2px;
	font-family: 'Press Start 2P', monospace;
	font-size: 1.8em;
	line-height: 1.6em;
}

.switch-pwr {
	top: 11%;
	left: 5%;
	width: 40%;
	height: 80%;
	background: #AAA;
	border-radius: 10%;
	transition: left .1s ease-out;
}

.switch-pwr:hover {
	cursor: pointer !important;
}

.label-pwr {
	bottom: 6%;
	left: 45%;
	font-size: .8em;
}

.btn-color {
	height: 50%;
	width: 50%;
	border: 12px solid #333;
}

.btn-color:hover {
	cursor: pointer !important;
}

.btn-color:active {
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .6);
}

.btn-grn {
	border-top-left-radius: 100%;
	background: #32CC52 linear-gradient(to top left, #32CC52, #060);
}

.btn-grn:active {
	background: linear-gradient(to top left, #32CC52, #040);
}

.btn-grn.lit {
	background: #0F0 linear-gradient(to bottom left, #32CC52, #0F0);
}

.btn-red {
	border-top-right-radius: 100%;
	right: 0;
	background: #E33400 linear-gradient(to top right, #E33400, #600);
}

.btn-red:active {
	background: linear-gradient(to top right, #E33400, #400);
}

.btn-red.lit {
	background: #F00 linear-gradient(to bottom left, #E33400, #F00);
}

.btn-blue {
	border-bottom-right-radius: 100%;
	right: 0;
	bottom: 0;
	background: #3083DF linear-gradient(to bottom right, #3283DF, #006);
}

.btn-blue:active {
	background: linear-gradient(to bottom right, #3083DF, #004);
}

.btn-blue.lit {
	background: #00F linear-gradient(to bottom left, #2222DD, #00E);
}

.btn-ylw {
	border-bottom-left-radius: 100%;
	bottom: 0;
	background: #EAD82E linear-gradient(to bottom left, #EAD82E, #660);
}

.btn-ylw:active {
	background: linear-gradient(to bottom left, #EAD82E, #440);
}

.btn-ylw.lit {
	background: #FF0 linear-gradient(to bottom left, #EAD82E, #FF0);
}

@media only screen and (max-width: 500px) {
	.game {
		transform: scale(.7);
	}
}
