html {
	box-sizing: border-box;
	overflow: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #000;
	color: #333;
	font: 3.1vmin 'Righteous', Arial;
	text-align: center;
}

.game {
	position: relative;
	width: 95vmin;
	height: 95vmin;
	margin: 1em auto;
	border-radius: 100%;
	background: #222;
	box-shadow: 0 0 15px #555;
	user-select: none;
}

.controls {
	position: absolute;
	width: 55%;
	height: 55%;
	left: 22.5%;
	top: 22.5%;
	background: #CCC;
	border: 18px solid #333;
	border-radius: 100%;
}

h1 {
	font-size: 2.5em;
	margin: .65em 0 0 .1em;
}

.txt-small {
	font-size: .6em;
	font-weight: 200;
	vertical-align: .5em;
}

.interface, .strict-inner, .row-labels {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.interface {
	padding: 1.5em .3em 0 .6em;
}

.row-labels {
	margin-top: -.2em;
	padding: 0 .8em 0 3.5em;
}

.count {
	width: 2.3em;
	height: 1.4em;
	background-color: #2b0000;
	border: 2px inset #200;
	border-radius: 10%;
	color: #C00;
	font: 1.75em 'Press Start 2P', monospace;
	line-height: 1.52em;
}

.btn-ctrl {
	height: 2em;
	width: 2em;
	border: 3px solid #333;
	border-radius: 100%;
	box-shadow: inset 0 0 5px #555;
}

.btn-ctrl:hover {
	cursor: pointer;
}

.btn-start {
	background-color: #f00;
	margin-left: -1.4em;
}

.btn-start:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
	background: #db0000
}

.btn-strict {
	background: #ff0;
}

.btn-strict:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6);
	background: #dbc800;
}

.light-strict {
	height: .6em;
	width: .6em;
	background: #000;
	border: 1px solid #333;
	border-radius: 100%;
	box-shadow: 0 0 5px #555 inset;
	margin: .3em 0 0 .2em;
}

.label {
	font-size: .95em;
	color: #333;
}

.switch-pwr-slot {
	width: 2em;
	height: 1em;
	margin: 6vmin auto 0 auto;
	background: #151515;
	border-radius: 10%;
	padding: 1% 0 0 1.1%;
	font-family: 'Press Start 2P', monospace;
	font-size: 1.8em;
	line-height: 1.6em;
}

.switch-pwr {
	width: 42%;
	height: 90%;
	background:
		linear-gradient(27deg, #bbb 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #bbb 5px, transparent 5px) 10px 0,
		linear-gradient(27deg, #aaa 5px, transparent 5px) 0 10px,
		linear-gradient(207deg, #aaa 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #bbb 10px, transparent 10px),
		linear-gradient(#ccc 25%, #bbb 25%, #bbb 50%, transparent 50%, transparent 75%, #ccc 75%, #ccc);
	background-color: #ccc;
	background-size: 10px 10px;
	border-radius: 10%;
	transition: margin-left .1s ease-out;
}

.switch-pwr:hover {
	cursor: pointer;
}

.label-pwr {
	font-size: .8em;
}

.btn-color {
	position: absolute;
	height: 50%;
	width: 50%;
	border: 8px solid #333;
	-webkit-tap-highlight-color: transparent;
}

.btn-color:hover {
	cursor: pointer;
}

.btn-color:active {
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .6);
}

.btn-grn {
	top: 0;
	border-top-left-radius: 100%;
	background: #32CC52 linear-gradient(to top left, #32CC52, #060);
}

.btn-grn:active {
	background: linear-gradient(to top left, #32CC52, #040);
}

.btn-grn.lit {
	background: #0F0 linear-gradient(to bottom left, #32CC52, #0F0);
}

.btn-red {
	right: 0;
	top: 0;
	border-top-right-radius: 100%;
	background: #E33400 linear-gradient(to top right, #E33400, #600);
}

.btn-red:active {
	background: linear-gradient(to top right, #E33400, #400);
}

.btn-red.lit {
	background: #F00 linear-gradient(to bottom left, #E33400, #F00);
}

.btn-blue {
	right: 0;
	bottom: 0;
	border-bottom-right-radius: 100%;
	background: #3083DF linear-gradient(to bottom right, #3283DF, #006);
}

.btn-blue:active {
	background: linear-gradient(to bottom right, #3083DF, #004);
}

.btn-blue.lit {
	background: #00F linear-gradient(to bottom left, #2222DD, #00E);
}

.btn-ylw {
	bottom: 0;
	border-bottom-left-radius: 100%;
	background: #EAD82E linear-gradient(to bottom left, #EAD82E, #660);
}

.btn-ylw:active {
	background: linear-gradient(to bottom left, #EAD82E, #440);
}

.btn-ylw.lit {
	background: #FF0 linear-gradient(to bottom left, #EAD82E, #FF0);
}

@media (max-width: 475px), (max-height: 475px) {
	body {
		font-size: 3vmin;
	}
	.switch-pwr-slot {
		margin: 4vmin auto 0 auto;
	}
}

@media (max-width: 350px), (max-height: 350px) {
	body {
		font-size: 2.8vmin;
	}
	.switch-pwr-slot {
		margin: 3vmin auto 0 auto;
		padding: .5% 0 0 1%;
	}
}
